#app{
  height:90vh;
}
.day {
  background-color: #fff; /* Light background color */
  color: #000; /* Dark text color */
}

.night {
  background-color: #333; /* Dark background color */
  color: #fff; /* Light text color */
}

#swap{
  outline:0;
}

.button_night{
  background-color:blue;
  color:white; 
}
